VITE_FIREBASE_API_KEY=your_api_key
VITE_FIREBASE_AUTH_DOMAIN=quiniela-mundial-2026.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=quiniela-mundial-2026
VITE_FIREBASE_STORAGE_BUCKET=quiniela-mundial-2026.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=your_sender_id
VITE_FIREBASE_APP_ID=your_app_id
VITE_FOOTBALL_API_KEY=your_football_data_org_key
